<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>

<!---- content for add page---->
<div class="container">
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
        <h1><% title %></h1>
        <form class="form" method="POST">
            <div class="form-group">
                <label for="nameTextField">Book Title</label>
                <input type="text" class="form-control" 
                id ="nameTextField"
                placeholder="Enter the book title"
                name="name" required>
               
            </div>

            <div class="form-group">
                <label for="authorTextField">Author</label>
                <input type="text" class="form-control"
                 id ="authorTextField"
                placeholder="Enter the book's author"
                name="author" required>
               
            </div>

            <div class="form-group">
                <label for="publishedTextField">year</label>
                <input type="text" class="form-control"
                 id ="publishedTextField"
                placeholder="Enter the year of publication"
                name="published" required>
               
            </div>

            <div class="form-group">
                <label for="descriptionTextArea">description</label>
                <textArea type="text" class="form-control"
                 id ="descriptionTextArea"
                placeholder="enter brief description of book"
                name="description" required></textArea>
               
            </div>

            <div class="form-group">
                <label for="priceTextField">price</label>
                <input type="text" class="form-control"
                 id ="priceTextField"
                placeholder="Enter the books's price"
                name="price" required>
               
            </div>

            <button class="btn btn-primary" type="submit">
                <i class="fas fa-edit"></i>Submit</button>

                <a href="/book-list" class="btn btn-warning">
                    <i class="fas fa-undo"></i>Cancel</a>
        </form>
    </div>
    </div>
</div>


<%- include ../partials/bottom_nav.ejs %>  

<%- include ../partials/footer.ejs %>